<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, Employee.genders.keys.map {|k| [Employee.genders_i18n[k], k] }, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%# locale を ja にした場合、date_select における月がアルファベット1文字になってしまうため、数字で表示する %>
    <%= form.date_select :birth, use_month_numbers: true, start_year: Date.today.year - 150, default: Date.new(Date.today.year - 22, 1, 1) %>
  </div>

  <div class="field">
    <%= form.label :joined_date %>
    <%# locale を ja にした場合、date_select における月がアルファベット1文字になってしまうため、数字で表示する %>
    <%= form.date_select :joined_date, use_month_numbers: true, start_year: Date.today.year - 150 %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.text_field :payment %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
