<p id="notice"><%= notice %></p>

<h1><%= Employee.model_name.human %></h1>

<%= form_tag '#' do %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th><%= Employee.human_attribute_name(:name) %></th>
        <th><%= Employee.human_attribute_name(:department) %></th>
        <th><%= Employee.human_attribute_name(:years_worked) %>
        <th><%= Employee.human_attribute_name(:gender) %></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= radio_button_tag(:id, employee.id) %></td>
          <td><%= link_to employee.id, employee_path(employee.id) %></td>
          <td><%= employee.name %></td>
          <td><%= employee.department %></td>
          <td><%= employee.years_worked %></td>
          <td><%= employee.gender %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th></th>
        <th>ID</th>
        <th><%= Employee.human_attribute_name(:name) %></th>
        <th><%= Employee.human_attribute_name(:department) %></th>
        <th><%= Employee.human_attribute_name(:years_worked) %>
        <th><%= Employee.human_attribute_name(:gender) %></th>
      </tr>
    </tfoot>
  </table>

  <br>

  <%= link_to t('.action.new_employee', default: 'New Employee'), new_employee_path, class: 'btn btn-light' %>
  <%= submit_tag(t('.action.edit_employee', default: 'Edit Employee'), disabled: true, class: 'btn btn-light', on_click: "move_edit_employee_page()") %>
<% end %>
